DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres?schema=public"
NEXT_PUBLIC_SUPABASE_URL="https://knekyofheizswjbjhfsf.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_6vs8_0Y8lvTyCX9tOemvyA_xzjwx6yf"
